.footer {
  margin-bottom: 40px;
  margin-top: 180px;
  padding-top: 20px;
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  color: black;

  h1 {
    font-size: 50px;
    font-weight: 800;
  }
}
